#footer {
    height: 342;
}




.fot-wrap {
    display: inline-block;
    border-top: 1px solid #70707036;
    width: 80%;
    margin-top: 165px;
    padding-top: 84px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.shn {
    font-size: 32px;
    color: #7070704D;
    letter-spacing: 3.2px;
    margin-bottom: 60px;
}


.fa-brands {
    font-size: 20px;
    color: black;
    padding-left: 25px;
    padding-right: 5px;
    width: 20px;
    height: 19px;
}

.res {
    display: inline-block;
    padding: 10px 40px;
    margin-bottom: 60px;
    border: 1px solid #707070;
    font-size: 18px;
    letter-spacing: 1.8px;
}