#first-v {
    background-image: url(/img/bg1.jpg);
    // 要素全体に画像を表示
    background-size: cover;
    width: 100%;
    // 画面サイズと同じ大きさ
    height: 100vh;
    // first-v__wrapの基準
    position: relative;
}

.first-v__wrap {
    width: 250px;
    height: 230px;
    // 要素を横並び
    display: flex;
    justify-content: space-between;
    // 要素を縦並び
    flex-direction: column;
    align-items: center;
    // first-vを基準
    position: absolute;
    // 基準の上から50%
    top: 50%;
    // 基準の左から50%
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;


    @include sp {
        height: 50%;
        top: 65%;

    }

}

.catch {
    color: #fff;
    font-size: 27px;
    font-weight: bold;

    &::after {
        display: block;
        width: 9.7rem;
        content: "";
        border-top: 1px solid #fff;
        margin: 20px auto 0;
    }
}

.fv-btn {
    width: 200px;
    height: 50px;
    // 左から右にグラデーション
    background: linear-gradient(to right, $sky, $navy);
    color: #fff;
    border: none;
    border-radius: 5px;
    // ボタンに影をつける
    box-shadow: 0 5px black;

    .btn-icon {
        margin-right: 5px;
    }
}